[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pbspark = "==0.7.0"
protobuf = "*"
six = "*"
cantools = "*"

[dev-packages]
pyspark = "*"

[requires]
python_version = "3.9"
